body{
    background-color: beige;
}

section .container{
    padding: 4em 0 2em;
}

section#landing{
    height: 100%;
    width: 100%;

    .container{
        padding: 4em 0 2em;
    }

    #todos{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .todoItem {
        transition: opacity 0.6s;

        &.remove{
            opacity: 0;
        }
    }

    .loadingDots{
        &:after {
            content: '.';
            animation: loadingDots 1.5s steps(5, end) infinite;
        }
    }

    input {
        font-size: 16px;
    }

@keyframes loadingDots {
        0%, 20% {
          color: beige;
          text-shadow:
            .25em 0 0 beige,
            .5em 0 0 beige;
        }
        40% {
          color: brown;
          text-shadow:
            .25em 0 0 beige,
            .5em 0 0 beige;
        }
        60% {
        //   color: white;

          text-shadow:
            .25em 0 0 brown,
            .5em 0 0 beige;
        }
        80%, 100% {
        //   color: white;

          text-shadow:
            .25em 0 0 brown,
            .5em 0 0 brown;}
        };


}


// Card Style from Portfolio
.card{
    display: flex;
    flex-direction: column;
    // box-shadow: 0 10px 30px -20px $black, -5px -5px 5px -5px  $orange;
    border-radius: 25px 5px 25px 5px;
    background-color: #E55812;
    padding: 1em 0 0 1em;
    margin:  2em 0;

    h2{
        padding-bottom: 0.5em;
    }

}

.card-content{
    padding-right: 1em;
}

.card-cta{
    // background-color: $ivory;
    // box-shadow: inset 1px 1px 2px 0px $grey;
    font-weight: bold;
    border-radius: 25px 0 25px 0;
    width: auto;
    display: block;
    margin: 1em 0 0 auto;
    padding: 0.5em 1.5em;
}

#nothingTodo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 100px;
    pointer-events: none;

    transition: opacity 0.6s;

    &.on{
        opacity: 1;
    }
}