
.Landing{
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    text-align: center;
    background-color:   beige;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.Landing-logo{
    border-radius: 50%;
    max-height: 250px;
}

.hero-img{
    max-height: 150px;
    width: auto;
}

.divider{
    width: 90%;
    margin: 1em auto;
    height: 3px;
    border-radius: 3px;
    background-color: lightgrey
}